\documentclass[tikz]{standalone}
\usepackage{pgfplots}
\tikzset{
  /pgf/number format/.cd,
  1000 sep={},
}
\pgfplotsset{compat=1.17}
\begin{document}
\begin{tikzpicture}[thick]
\begin{axis}[
  width=85mm,
  height=65mm,
  xlabel={Wavelength (nm)},
  ylabel={Drop Port Power (dB)},
  xlabel near ticks,
  ylabel near ticks,
  legend entries={{legends}},
  legend pos=south east,
  cycle list name=color,{% if is_focus %}
  ytick={
    -12,
    -10,
    -8,
    -6,
    -4,
    -2,
    0
  },
  ymin=-12,
  ymax=0,
  xmin=1549,
  xmax=1551,{% else %}ytick={
    -60,
    -50,
    -40,
    -30,
    -20,
    -10,
    0
  },
  ymin=-60,
  ymax=0,{% endif %}
]
  {% for tsvname in tsvnames %}
  \addplot+[no markers,smooth,very thick] table[x expr={\thisrowno{0} * 1e9}] {{tsvname}};
  {% endfor %}
\end{axis}
\end{tikzpicture}
\end{document}
